<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" href="css/delete.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet"> <!--Patua One Font-->
	</head>
	<body>
	<!--Title-->
	<div id="title">
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
		<h1 id="mainTitle"><b>DELETE<b></h1>
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
	</div>
	<br>
	
	<!--Delete-->
	<span id="deleteTag"><b><i>*Be advised that deletion of certain attributes may result in entire table row deletion*</i></b></span>
	<br>
	<div id="delete">
		<br>
			<form>
				<fieldset id="delete">
					<legend><strong>DELETE the following row/attribute:</strong></legend>
					<span>Table:</span>
					<select id="tableSelect">
						<option value="Team">Team</option>
						<option value="Stadium">Stadium</option>
						<option value="League">League</option>
						<option value="Player">Player</option>
						<option value="Sponsor">Sponsor</option>
					</select>
					<span>Attribute:</span>
					<select id="attributeSelect">
						<option value="Name">Name</option>
						<option value="City">City</option>
						<option value="Capacity">Capacity</option>
						<option value="Pitch">Pitch</option>
						<option value="Location">Location</option>
						<option value="Stadium">Stadium</option>
						<option value="Standing">Standing</option>
						<option value="GamesPlayed">Games Played</option>
						<option value="Points">Points</option>
						<option value="Champion">Champion</option>
						<option value="TotalGames">TotalGames</option>
						<option value="FirstName">First Name</option>
						<option value="LastName">Last Name</option>
						<option value="Position">Position</option>
						<option value="Goals">Goals</option>
						<option value="Assists">Assists</option>
						<option value="Height">Height</option>
						<option value="BirthDate">BirthDate</option>
						<option value="Nationality">Nationality</option>
						<option value="Sponsor">Sponsor</option>
						<option value="Revenue">Revenue</option>
					</select>
					<button id="deleteButton" class="submit"><strong>Delete From Database</strong></button>
					<br></br>
				</fieldset>
			</form>
		</br>
	</div>
	
	<!--Horizontal Site Directory List-->
	<div id="siteList">
		<a href="home">Home</a>
		<a href="insert">Insert</a>
		<a href="update">Update</a>
		<a href="search">Search</a>
		<a href="delete">Delete</a>
	</div>
	<br>
	
	<!--Closing Remarks-->
	<br>
	<div id="copyright"><b>OSU 340 - Cedric Eicher - Lennard Gorter - Group 18 - All Rights Reserved</b></div>
	
	<!--JavaScript Call-->
	<script src="js/delete.js"></script>
	
	</body>
</html>