<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" href="css/home.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet"> <!--Patua One Font-->
	</head>
	<body>
	<!--Title-->
	<div id="title">
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
		<h1 id="mainTitle"><b>Fútbol Teams Database<b></h1>
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
	</div>
	
	<!--Welcome!-->
	<br>
	<span id="welcome"><b><u>Welcome to the Fútbol Teams Database!</u></b></span>
	<br>
	
	<!--Show database pictures-->
	<br>
	<div id="images">
		<img id="ERD" src="images/ERD.PNG" alt="ERD">
		<img id="schema" src="images/schema.PNG" alt="schema">
	</div>
	
	<!--Horizontal Site Directory List-->
	<div id="siteList">
		<a href="home">Home</a><br>
		<a href="stadium_table">Stadium Table</a><br>
		<a href="team_table">Team Table</a><br>
		<a href="league_table">League Table</a><br>
		<a href="team-league_table">Team-League Table</a><br>
		<a href="sponsor_table">Sponsor Table</a><br>
		<a href="player_table">Player Table</a><br>
		<a href="search">Search Queries</a><br>			
	</div>
	<br>
	
	<!--Closing Remarks-->
	<br>
	<span id="copyright"><b>OSU 340 - Cedric Eicher - Lennard Gorter - Group 18 - All Rights Reserved</b><span>
	
	<!--JavaScript Call-->
	<!--<script src="js/home.js"></script>-->
	
	</body>
</html>