<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" href="css/search.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet"> <!--Patua One Font-->
	</head>
	<body>
	
	<!--Title-->
	<div id="title">
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
		<h1 id="mainTitle"><b>SEARCH<b></h1>
		<img id="futbol" src="images/futbol.PNG" alt="futbol">
	</div>
	<br>
	
	<!--Search-->
	<span id="searchTag"><b><i>*Select any of the below searches to test some database queries on the Fútbol database.*</i></b></span>
	<br>
	<div id="search">
		<br>
			<span id="search1">Search for all English Players with 10+ goals:</span>
			<button id="searchButton1" class="submit">Search</button>
		</br>
		<br>
			<span id="search2">Search for UEFA Champions League Teams that have Stadiums with GrassMaster type pitch and 1+ Players with an Adidas Sponsorship:</span>
			<button id="searchButton2" class="submit">Search</button>
		</br>
	</div>
	
	<!--Horizontal Site Directory List-->
	<div id="siteList">
		<a href="home">Home</a>
		<a href="insert">Insert</a>
		<a href="update">Update</a>
		<a href="search">Search</a>
		<a href="delete">Delete</a>
	</div>
	<br>
	
	<!--Closing Remarks-->
	<br>
	<div id="copyright"><b>OSU 340 - Cedric Eicher - Lennard Gorter - Group 18 - All Rights Reserved</b></div>
	
	<!--JavaScript Call-->
	<script src="js/search.js"></script>
	
	</body>
</html>